---
import { Image } from "astro:assets";
import img1 from "../../../assets/main/block_4_img_1.svg";
import img2 from "../../../assets/main/block_4_img_2.svg";
import img3 from "../../../assets/main/block_4_img_3.svg";
import arrow from "../../../assets/main/block_4_arrow.svg";
import point from "../../../assets/main/block_4_point.svg";
---

<div class="bg-[#FFFFFF]">
    <div
        class="px-[48px] max-sm:px-[20px] py-[88px] flex flex-col max-w-[1224px] mx-auto"
    >
        <div
            class="text-[32px] font-semibold text-[#0D0628] text-center pb-[48px]"
        >
            Как работает сервис
        </div>
        <div class="flex items-center gap-[24px] max-lg:flex-col">
            <div
                class="bg-[#FFFFFF] p-[32px] flex flex-col gap-[24px] rounded-[20px] circle-schadow flex-1"
            >
                <div><Image src={img1} alt="" /></div>
                <div class="flex flex-col gap-[12px]">
                    <div class="text-[#0D0628] text-[20px] font-semibold">
                        50+ легальных источников данных
                    </div>
                    <div class="text-[#5F5B70] text-[16px]">
                        КАД, СОЮ, ФССП, ЕФРСБ и другие источники
                    </div>
                </div>
            </div>
            <div class="max-lg:rotate-90">
                <img src={"/Block_4_arrow.svg"} alt="" />
            </div>
            <div
                class="bg-[#FFFFFF] p-[32px] flex flex-col gap-[24px] rounded-[20px] circle-schadow flex-1"
            >
                <div><Image src={img2} alt="" /></div>
                <div class="flex flex-col gap-[12px]">
                    <div class="text-[#0D0628] text-[20px] font-semibold">
                        PravoTech Big Data
                    </div>
                    <div
                        class="text-[#5F5B70] text-[16px] flex flex-col gap-[4px]"
                    >
                        <div class="flex gap-[8px]">
                            <div class="pt-[2px] flex-shrink-0">
                                <Image src={point} alt="" />
                            </div>
                            <div>Приводит данные к машиночитаемому виду</div>
                        </div>

                        <div class="flex gap-[8px]">
                            <div class="flex-shrink-0">
                                <Image src={point} alt="" />
                            </div>
                            <div>Устраняет ошибки</div>
                        </div>
                        <div class="flex gap-[8px]">
                            <div class="pt-[2px] flex-shrink-0">
                                <Image src={point} alt="" />
                            </div>
                            <div>
                                Заполняет пропуски данными из других источников
                            </div>
                        </div>
                        <div class="flex gap-[8px]">
                            <div class="pt-[1px] flex-shrink-0">
                                <Image src={point} alt="" />
                            </div>
                            <div>Рассчитывает факторы риска</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-lg:rotate-90">
                <img src={"/Block_4_arrow.svg"} alt="" />
            </div>
            <div
                class="bg-[#FFFFFF] p-[32px] flex flex-col gap-[24px] rounded-[20px] circle-schadow flex-1"
            >
                <div><Image src={img3} alt="" /></div>
                <div class="flex flex-col gap-[12px]">
                    <div class="text-[#0D0628] text-[20px] font-semibold">
                        Ваша внутренняя система
                    </div>
                    <div class="text-[#5F5B70] text-[16px]">
                        SAP, 1С, С1 и любая другая
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
