---
import Item_block_3 from "./Item_block_3.astro";
import { Btn_custom } from "../../UI/Btn_custom";
import img1 from "../../../assets/main/Block_3/img1.svg";
import img2 from "../../../assets/main/Block_3/img2.svg";
import img3 from "../../../assets/main/Block_3/img3.svg";
import img4 from "../../../assets/main/Block_3/img4.svg";
import img5 from "../../../assets/main/Block_3/img5.svg";
import img6 from "../../../assets/main/Block_3/img6.svg";
---

<div
  class="relative max-w-[1224px] mx-auto h-[498px] max-lg:h-[600px] max-md:h-[700px] max-sm:h-[900px] overflow-hidden"
>
  <div class="z-10 relative">
    <div
      class="absolute w-[250px] h-[250px] opacity-0 bg-[#c09ae43b] inset-0 mx-auto top-[140px] rounded-full animate-wiggle"
      style={{ animationDelay: "10000ms" }}
    >
    </div>
    <div
      class="absolute w-[250px] h-[250px] opacity-0 bg-[#c09ae43b] inset-0 mx-auto top-[140px] rounded-full animate-wiggle"
      style={{ animationDelay: "7500ms" }}
    >
    </div>
    <div
      class="absolute w-[250px] h-[250px] opacity-0 bg-[#c09ae43b] inset-0 mx-auto top-[140px] rounded-full animate-wiggle"
      style={{ animationDelay: "5000ms" }}
    >
    </div>
    <div
      class="absolute w-[250px] h-[250px] opacity-0 bg-[#c09ae43b] inset-0 mx-auto top-[140px] rounded-full animate-wiggle"
      style={{ animationDelay: "2500ms" }}
    >
    </div>
    <div
      class="absolute w-[250px] h-[250px] opacity-0 bg-[#c09ae43b] inset-0 mx-auto top-[140px] rounded-full animate-wiggle"
      style={{ animationDelay: "000ms" }}
    >
    </div>
  </div>

  <div
    class="absolute z-10 w-full px-[48px] max-sm:px-[20px] py-[88px] flex flex-col items-center justify-center"
  >
    <div
      class="text-[32px] max-lg:text-[28px] max-sm:text-[24px] max-sm:leading-[30px] text-[#0D0628] text-center font-semibold pb-[48px]"
    >
      Интеграция сервиса в любые отрасли
    </div>
    <div
      class="grid grid-cols-6 max-lg:grid-cols-3 max-md:grid-cols-2 gap-[8px]"
    >
      <Item_block_3 text={"Финансовые компании"} img={img1} />
      <Item_block_3 text={"Энергосбытовые компании"} img={img2} />
      <Item_block_3 text={"Государственные учреждения"} img={img3} />
      <Item_block_3 text={"Коллекторские агентства"} img={img4} />
      <Item_block_3 text={"Малый и средний бизнес"} img={img5} />
      <Item_block_3 text={"Корпоративный бизнес"} img={img6} />
    </div>
    <div class="pt-[40px]">
      <Btn_custom>Оставить заявку</Btn_custom>
    </div>
  </div>
</div>
